{% load static %}
<div id="translation-container">
  <table
    id="translation-table"
    class="translations-table table is-striped is-fullwidth is-bordered"
  >
    <thead>
      <tr>
        <th
          data-tooltip="This is the unique identifier for the object's entry into its original model."
        >
          ID
        </th>
        <th>Label</th>
        <th data-tooltip="The model that the translation object is used by.">
          Model
        </th>
        <th>Abbreviated/External Name</th>
        <th
          data-tooltip="This is the name of the field for which the translation is provided."
        >
          Field
        </th>
        <th>Edited</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for translation in page_obj %}
      <tr>
        <td>{{ translation.entry_id }}</td>
        <td>{{ translation.label }}</td>
        <td>{{ translation.model_name|capfirst }}</td>
        <td>{{ translation.display_name }}</td>
        <td>{{ translation.field_name }}</td>
        <td>{{ translation.edited }}</td>
        <td>{{ translation.active }}</td>
        <td>
          <button class="button">
            <a
              href="/api/translations/admin/{{ translation.id }}"
              >Edit</a
            >
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8">No results</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8">Total: {{ page_obj.paginator.count }}</td>
      </tr>
    </tfoot>
  </table>
  <script>
    var tableId = "translation-table";
  </script>
  {% include "pagination.html" %}
</div>
