# Distribution / packaging
.Python
venv/
env/
*.sqlite3
.idea/

# Secure Files
.env
google_credentials.json

# Project asset folders
media/

# Database
db.sqlite3

# Editor directories and files
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
