# Distribution / packaging
.Python
venv/
env/
*.sqlite3
.idea/

# Secure Files
.env

# Project asset folders
media/

# Database
db.sqlite3
.DS_Store

# Editor directories and files
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode
