# Distribution / packaging
.Python
venv/
env/
*.sqlite3
.idea/
_mfb_uml.png

# Secure Files
.env

# Project asset folders
media/

# Database
db.sqlite3
.DS_Store

# Editor directories and files
.idea
.editorconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/**/*
!.vscode/settings.json.default

# Static files
staticfiles/
tasks/todo.md
