{% load static %}
<div id="document-container">
  <table
    id="document-table"
    class="document-table table is-striped is-fullwidth is-bordered"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>External Name</th>
        <th>Text Label</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for document in page_obj %}
      <tr>
        <td>{{ document.id }}</td>
        <td>{{ document.external_name }}</td>
        <td>{{ document.text }}</td>
        <td>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu{{ forloop.counter }}"
              >
                <span>Go to</span>
                <span class="material-symbols-outlined"> expand_more </span>
              </button>
            </div>
            <div
              class="dropdown-menu"
              id="dropdown-menu{{ forloop.counter }}"
              role="menu"
            >
              <div class="dropdown-content">
                <a
                  href="/api/translations/admin/{{ document.text.id }}"
                  class="dropdown-item"
                  >Text</a
                >
                <a
                  href="/api/translations/admin/{{ document.link_url.id }}"
                  class="dropdown-item"
                  >Link Url</a
                >
                <a
                  href="/api/translations/admin/{{ document.link_text.id }}"
                  class="dropdown-item"
                  >Link Text</a
                >
                <hr class="dropdown-divider" />
                <a
                  href="/admin/programs/document/{{document.id}}/change/"
                  class="dropdown-item"
                >
                  Edit in Main Admin
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No results</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">Total: {{ page_obj.paginator.count }}</td>
      </tr>
    </tfoot>
  </table>

  {% include "../pagination.html" %}

  <script>
    var tableId = "document-table";
  </script>
</div>
