{% load static %}
<div id="program-container">
  <table
    id="program-table"
    class="programs-table table is-striped is-fullwidth is-bordered"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Abbreviated Name</th>
        <th>Active</th>
        <th>Name Label</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for program in page_obj %}
      <tr>
        <td>{{ program.id }}</td>
        <td>{{ program.name.text }}</td>
        <td>{{ program.name_abbreviated }}</td>
        <td>{{ program.active }}</td>
        <td>{{ program.name }}</td>
        <td>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu{{ forloop.counter }}"
              >
                <span>Go to</span>
                <span class="material-symbols-outlined"> expand_more </span>
              </button>
            </div>
            <div
              class="dropdown-menu"
              id="dropdown-menu{{ forloop.counter }}"
              role="menu"
            >
              <div class="dropdown-content">
                <a
                  href="/api/translations/admin/{{ program.name.id }}"
                  class="dropdown-item"
                  >Name</a
                >
                <a
                  href="/api/translations/admin/{{ program.description.id }}"
                  class="dropdown-item"
                  >Description</a
                >
                <a
                  href="/api/translations/admin/{{ program.description_short.id }}"
                  class="dropdown-item"
                  >Short description</a
                >
                <a
                  href="/api/translations/admin/{{ program.learn_more_link.id }}"
                  class="dropdown-item"
                  >Learn more link</a
                >
                <a
                  href="/api/translations/admin/{{ program.apply_button_link.id }}"
                  class="dropdown-item"
                  >Apply button link</a
                >
                <a
                  href="/api/translations/admin/{{ program.value_type.id }}"
                  class="dropdown-item"
                  >Value type</a
                >
                <a
                  href="/api/translations/admin/{{ program.estimated_delivery_time.id }}"
                  class="dropdown-item"
                  >Estimated delivery time</a
                >
                <a
                  href="/api/translations/admin/{{ program.estimated_application_time.id }}"
                  class="dropdown-item"
                  >Estimated application time</a
                >
                <a
                  href="/api/translations/admin/{{ program.website_description.id }}"
                  class="dropdown-item"
                  >Website description</a
                >
                <a
                  href="/api/translations/admin/{{ program.estimated_value.id }}"
                  class="dropdown-item"
                  >Estimated value</a
                >
                <hr class="dropdown-divider" />
                <a
                  href="/admin/programs/program/{{program.id}}/change/"
                  class="dropdown-item"
                >
                  Edit in Main Admin
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No results</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">Total: {{ page_obj.paginator.count }}</td>
      </tr>
    </tfoot>
  </table>

  {% include "../pagination.html" %}

  <script>
    var tableId = "program-table";
  </script>
</div>
