{% extends "base.html" %}{% block content %}
<section class="section">
  <h2>Program Actions</h2>
</section>
<hr />
<div id="program-actions">
  <table class="table is-striped is-fullwidth is-bordered">
    <thead>
      <tr>
        <th>Abbreviated Name</th>
        <th>Actions (add)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ object.name_abbreviated }}</td>
        <td>
          <div class="new-actions">
            <a href="/api/translations/admin/{{ object.name.id }}"> Name </a>
            <a
              href="/api/translations/admin/{{ object.description_short.id }}"
            >
              Description short
            </a>
            <a href="/api/translations/admin/{{ object.description.id }}">
              Description
            </a>
            <a href="/api/translations/admin/{{ object.learn_more_link.id }}">
              Learn more link
            </a>
            <a
              href="/api/translations/admin/{{ object.apply_button_link.id }}"
            >
              Apply button link
            </a>
            <a
              href="/api/translations/admin/{{ object.apply_button_description.id }}"
            >
              Apply button description
            </a>
            <a href="/api/translations/admin/{{ object.value_type.id }}">
              Value type
            </a>
            <a
              href="/api/translations/admin/{{ object.estimated_delivery_time.id }}"
            >
              Estimated delivery time
            </a>
            <a
              href="/api/translations/admin/{{ object.estimated_application_time.id }}"
            >
              Estimated application time
            </a>
            <a
              href="/api/translations/admin/{{ object.website_description.id }}"
              >Website description</a
            >
            <a
              href="/api/translations/admin/{{ object.estimated_value.id }}"
              >Estimated value</a
            >
            <a
              href="/admin/programs/program/{{ object.id }}/change/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Edit in Main Admin
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
