{% extends "base.html" %}{% block content %}
<h2>{{ program.name.text }}</h2>
<div>
	<a href="/admin/programs/program/{{ program.id }}/change/"> Django Admin </a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.description_short.id }}">
		Description short
	</a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.name.id }}"> Name </a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.description.id }}">Description</a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.learn_more_link.id }}">
		Learn more link
	</a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.apply_button_link.id }}">
		Apply button link
	</a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.value_type.id }}">Value type</a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.estimated_delivery_time.id }}">
		Estimated delivery time
	</a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.estimated_application_time.id }}">
		Estimated application time
	</a>
</div>
<div>
	<a href="/api/translations/admin/{{ program.category.id }}">Category</a>
</div>
{% endblock content %}
