interactions:
- request:
    body: '{"household": {"people": {"1639111": {"child_support_expense": {"2026":
      0.0}, "real_estate_taxes": {"2026": 0}, "age": {"2026": 30}, "other_medical_expenses":
      {"2026": 0}, "is_disabled": {"2026": null}, "ssi": {"2026": null}, "receives_ssi":
      {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false}, "social_security_disability":
      {"2026": 0.0}, "meets_ssi_disability_criteria": {"2026": null}, "is_full_time_college_student":
      {"2026": false}, "is_part_time_college_student": {"2026": false}, "meets_snap_work_exception":
      {"2026": false}, "is_snap_employment_training_or_work_incentive_student": {"2026":
      false}, "weekly_hours_worked_before_lsr": {"2026": 70.58620689655173}, "meets_snap_general_work_requirements":
      {"2026-01": null}, "meets_snap_abawd_work_requirements": {"2026-01": null},
      "meets_snap_work_requirements_person": {"2026-01": null}, "is_in_snap_abawd_waived_area":
      {"2026-01": null}, "meets_wic_categorical_eligibility": {"2026-01": null}, "employment_income":
      {"2026": 24564}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
      0}, "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
      {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
      {"2026": 0}}}, "tax_units": {"main_tax_unit": {"members": ["1639111"]}}, "families":
      {"family": {"members": ["1639111"]}}, "households": {"household": {"members":
      ["1639111"], "state_code": {"2026": "TX"}}}, "spm_units": {"spm_unit": {"members":
      ["1639111"], "snap_unearned_income": {"2026": 0.0}, "snap_earned_income": {"2026":
      24564.0}, "snap_assets": {"2026": 0}, "tanf": {"2026": null}, "receives_tanf":
      {"2026": false}, "takes_up_tanf_if_eligible": {"2026": false}, "receives_snap":
      {"2026": false}, "takes_up_snap_if_eligible": {"2026": false}, "snap_emergency_allotment":
      {"2026": 0}, "housing_cost": {"2026": 0}, "has_phone_expense": {"2026": false},
      "has_heating_cooling_expense": {"2026": true}, "heating_cooling_expense": {"2026":
      1800.0}, "childcare_expenses": {"2026": 0.0}, "water_expense": {"2026": 0.0},
      "phone_expense": {"2026": 0.0}, "homeowners_association_fees": {"2026": 0.0},
      "homeowners_insurance": {"2026": 0.0}, "snap_if_takes_up": {"2026-01": null},
      "is_snap_eligible": {"2026-01": null}, "electricity_expense": {"2026": 1800.0},
      "tx_ceap": {"2026": null}}}, "marital_units": {}}, "version": "1.821.10"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1639111":
        {"child_support_expense": {"2026": 0.0}, "real_estate_taxes": {"2026": 0},
        "age": {"2026": 30}, "other_medical_expenses": {"2026": 0}, "is_disabled":
        {"2026": false}, "ssi": {"2026": 0.0}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
        {"2026": false}, "social_security_disability": {"2026": 0.0}, "meets_ssi_disability_criteria":
        {"2026": false}, "is_full_time_college_student": {"2026": false}, "is_part_time_college_stu[...]
