interactions:
- request:
    body: '{"household": {"people": {"1639251": {"child_support_expense": {"2026":
      0.0}, "real_estate_taxes": {"2026": 0}, "age": {"2026": 38}, "other_medical_expenses":
      {"2026": 0}, "is_disabled": {"2026": null}, "ssi": {"2026": null}, "receives_ssi":
      {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false}, "social_security_disability":
      {"2026": 0.0}, "meets_ssi_disability_criteria": {"2026": null}, "is_full_time_college_student":
      {"2026": false}, "is_part_time_college_student": {"2026": false}, "meets_snap_work_exception":
      {"2026": false}, "is_snap_employment_training_or_work_incentive_student": {"2026":
      false}, "weekly_hours_worked_before_lsr": {"2026": 15}, "meets_snap_general_work_requirements":
      {"2026-01": null}, "meets_snap_abawd_work_requirements": {"2026-01": null},
      "meets_snap_work_requirements_person": {"2026-01": null}, "is_in_snap_abawd_waived_area":
      {"2026-01": null}, "meets_wic_categorical_eligibility": {"2026-01": null}, "ma_tcap_gross_earned_income":
      {"2026": 15659}, "ma_tcap_gross_unearned_income": {"2026": 0}, "is_tax_unit_dependent":
      {"2026": false}, "is_pregnant": {"2026": false}, "ma_tafdc_pregnancy_eligible":
      {"2026": false}, "is_in_secondary_school": {"2026": false}, "employment_income":
      {"2026": 15659}, "self_employment_income": {"2026": 0}, "long_term_capital_gains":
      {"2026": 0}, "taxable_pension_income": {"2026": 0}, "social_security": {"2026":
      0}, "is_tax_unit_head": {"2026": true}, "is_tax_unit_spouse": {"2026": false},
      "ssi_countable_resources": {"2026": 0}, "is_blind": {"2026": false}, "ssi_earned_income":
      {"2026": 15659}, "ssi_unearned_income": {"2026": 0}}, "1639252": {"child_support_expense":
      {"2026": 0.0}, "real_estate_taxes": {"2026": 0}, "age": {"2026": 4}, "other_medical_expenses":
      {"2026": 0}, "is_disabled": {"2026": null}, "ssi": {"2026": null}, "receives_ssi":
      {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false}, "social_security_disability":
      {"2026": 0.0}, "meets_ssi_disability_criteria": {"2026": null}, "is_full_time_college_student":
      {"2026": false}, "is_part_time_college_student": {"2[...]
