interactions:
- request:
    body: '{"household": {"people": {"1639141": {"child_support_expense": {"2026":
      0.0}, "real_estate_taxes": {"2026": 0}, "age": {"2026": 30}, "other_medical_expenses":
      {"2026": 0}, "is_disabled": {"2026": null}, "ssi": {"2026": null}, "receives_ssi":
      {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false}, "social_security_disability":
      {"2026": 0.0}, "meets_ssi_disability_criteria": {"2026": null}, "is_full_time_college_student":
      {"2026": false}, "is_part_time_college_student": {"2026": false}, "meets_snap_work_exception":
      {"2026": false}, "is_snap_employment_training_or_work_incentive_student": {"2026":
      false}, "weekly_hours_worked_before_lsr": {"2026": 41.37931034482759}, "meets_snap_general_work_requirements":
      {"2026-01": null}, "meets_snap_abawd_work_requirements": {"2026-01": null},
      "meets_snap_work_requirements_person": {"2026-01": null}, "is_in_snap_abawd_waived_area":
      {"2026-01": null}, "meets_wic_categorical_eligibility": {"2026-01": null}, "is_pregnant":
      {"2026": false}, "current_pregnancies": {"2026": 0}, "employment_income": {"2026":
      14400}, "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0},
      "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
      {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
      {"2026": 0}, "workers_compensation": {"2026": 0}, "alimony_income": {"2026":
      0}, "miscellaneous_income": {"2026": 0}, "financial_assistance": {"2026": 0},
      "child_support_received": {"2026": 0}, "wic": {"2026": null}, "wic_category":
      {"2026": null}}, "1639142": {"child_support_expense": {"2026": 0.0}, "real_estate_taxes":
      {"2026": 0}, "age": {"2026": 3}, "other_medical_expenses": {"2026": 0}, "is_disabled":
      {"2026": null}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "social_security_disability": {"2026": 0.0}, "meets_ssi_disability_criteria":
      {"2026": null}, "is_full_time_college_student": {"2026": false}, "is_part_time_college_student":
[...]
