interactions:
- request:
    body: '{"household": {"people": {"73021": {"employment_income": {"2026": 96000},
      "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "workers_compensation": {"2026": 0}, "alimony_income": {"2026": 0}, "child_support_received":
      {"2026": 0}, "ssi": {"2026": null}, "age": {"2026": 35}, "is_tax_unit_dependent":
      {"2026": false}, "is_disabled": {"2026": null}, "weekly_hours_worked_before_lsr":
      {"2026": 133.33333333333334}, "is_pregnant": {"2026": false}, "ma_ccfa_eligible_child":
      {"2026": null}}, "73022": {"employment_income": {"2026": 0}, "self_employment_income":
      {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income": {"2026":
      0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026": 0},
      "workers_compensation": {"2026": 0}, "alimony_income": {"2026": 0}, "child_support_received":
      {"2026": 0}, "ssi": {"2026": null}, "age": {"2026": 4}, "is_tax_unit_dependent":
      {"2026": true}, "is_disabled": {"2026": null}, "weekly_hours_worked_before_lsr":
      {"2026": 0}, "is_pregnant": {"2026": false}, "ma_ccfa_eligible_child": {"2026":
      null}}}, "tax_units": {"main_tax_unit": {"members": ["73021", "73022"]}}, "families":
      {"family": {"members": ["73021", "73022"]}}, "households": {"household": {"members":
      ["73021", "73022"], "state_code": {"2026": "MA"}}}, "spm_units": {"spm_unit":
      {"members": ["73021", "73022"], "spm_unit_assets": {"2026": 0}, "ma_ccfa_eligible":
      {"2026": null}}}, "marital_units": {}}, "version": "1.821.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"73021": {"employment_income":
        {"2026": 96000}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
        0}, "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0},
        "unemployment_compensation": {"2026": 0}, "workers_compensation": {"2026":
        0}, "alimony_income": {"2026": 0}, "child_support_received": {"2026": 0},
        "ssi": {"2026": 0.0}, "age": {"2026": 35}, "is_tax_unit_dependent": {"2026":
        false}, "is_disabled": {"[...]
