{% extends "base.html" %} {% block content %}
<section class="section">
  <h2 class="title">Urgent Need Types</h2>
  <div class="level">
    <div class="level-left">
      <div class="level-item">{% include "./filter.html" %}</div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a href="urgent_need_types/create" class="text-icon">
          <span class="material-symbols-outlined"> add_circle </span>
          <span>Add New</span>
        </a>
      </div>
    </div>
  </div>
</section>
<hr />
{% include "./list.html" %} {% endblock content %}
