<span>
  <div class="level">
    <div class="level-item">
      <label class="label">{{ form.label.label }}</label>
    </div>
    <div class="level-item">
      <div class="control">{{ form.label }}</div>
    </div>
    <div class="level-item">
      <label class="label">{{ form.active.label }}</label>
    </div>
    <div class="level-item">
      <div class="control">{{ form.active }}</div>
    </div>
    <div class="level-item">
      <label class="label">{{ form.no_auto.label }}</label>
    </div>
    <div class="level-item">
      <div class="control">{{ form.no_auto }}</div>
    </div>
  </div>
  <button class="button" type="submit">Save</button>
  {% if error_message %} {% include "error.html" %} {% endif %}
</span>
