<div id="languages">
	{% for lang, form in langs.items %}
  <div class="level">
    <div class="level-left">
      <div class="level-item">
	      <h3>{{ lang }}</h3>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <form
          id="{{ lang }}"
          hx-post="{{ translation.id }}/{{ lang }}"
          hx-target="#languages"
          hx-swap="outerHTML"
        >
          {% include "./lang_form.html" with lang=lang form=form %}
        </form>
      </div>
    </div>
  </div>
	{% endfor %}
</div>
